.home {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
  
}


.homeDiv {
    width: 100%;
    display: flex;
    max-width: 900px;

    flex-direction: column;
    gap: 30px;

}


.alertDiv {
    position: fixed;

    left: 80%;
    transform: translateX(-50%);
    z-index: 100;
    top: 7px;
}

.alert {

    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    background-color: #4caf50;
    color: white;
}


.card {
    background: #F5F6FA;
    border-radius: 12px;
    padding: 25px 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s, box-shadow 0.2s;
    align-items: center;


}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  color: #000000; 
    text-align: center;
}


.homeInput {
    width: 100%;
    min-height: 120px;
    border-radius: 10px;
    border: none;
    padding: 12px;
    resize: vertical;
    font-size: 1rem;
    margin-bottom: 15px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    outline: #AF9445;

}

.homeText {
    font-size: 1rem;
    margin-bottom: 15px;
  color: #63615c; 
    text-align: center;
}


.sendButton, .pdfButton {
    width: 38%;
    padding: 12px;
    background: linear-gradient(90deg, #3f4697, #2d1655);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}




.sendButtonInactive , .pdfButtonInactive {
    background: linear-gradient(90deg, #3f4697, #2d1655);
    cursor: not-allowed;
}

.sendButton:hover {
       background: linear-gradient(90deg, #232757, #6e5893);
    transform: translateY(-2px);
}

.pdfButton:hover {
       background: linear-gradient(90deg, #232757, #6e5893);
    transform: translateY(-2px);
}

.card input[type="file"] {
    display: block;
    margin-bottom: 15px;
}


input::file-selector-button {

    padding: 12px;

    color: #231043;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}


.notesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}